{% extends "layout.html" %}
{% block content %}

{% if data:%}
    <table class="table table-responsive">
        <tbody>
            <tr>
                <td><img class="img-responsive" src="/static/logo.png" alt="Chania" height=75% width=75%></td>
                <td>
                    <h2>Vemana Institute of Technology</h2>
                    <br>
                    <h4>FEE RECEIPT</h4>
                </td>
            </tr>
            <tr>
                <td>USN: {{ data.usn }}</td>
                <td>{{ data.usn }}</td>
            </tr>
            <tr>
                <td>Date: </td>
                <td>{{ data.date }}/{{ data.month }}/{{ data.year }}</td>
            </tr>
            <tr>
                <td>Payment Status:</td>
                <td><b> Success</b></td>
            </tr>
            <tr>
                <td>Amount: {{ data.amount_paid }}</td>
                <td>{{ data.amount_paid }}</td>
            </tr>
            <tr>
                <td>Details: </td>
                <td>{{ data.payment_type }} Fees </td>
            </tr>
            <tr>
                <td>Transaction ID: </td>
                <td>{{ data.transaction_id }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}
{% endblock %}